<nav class="navbar navbar-expand-lg navbar-dark bg-mattBlackLight sticky-top">
    <a class="navbar-brand" href="/">
      <img src="/img/logo.png" alt="e-Basket" height="60" width="200">
    </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="container">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto" id="mainNav">
          <li class="nav-item">
              <a class="nav-link" style="color: greenyellow;" href="/cart/details"><i class="fa fa-shopping-cart" aria-hidden="true"></i> &nbsp; Cart
                <% if( typeof session.cart != 'undefined' && session.cart.totalQty != 0 ) { %>
                    <span id="totalQty"><%= session.cart.totalQty %></span>
                  <% } %>
            </a>
          </li>
          <% if(typeof user != 'undefined') { %>
            <a class="nav-link" style="color: greenyellow;" href="/dashboard"><i class="fa fa-tachometer" aria-hidden="true"></i> &nbsp; Dashboard</a>
            <% if( user.role == 'seller' ) { %>
              <li class="nav-item dropdown" id="mobile_products">
                <a class="nav-link dropdown-toggle" style="color: greenyellow;" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-user-circle" aria-hidden="true"></i>&nbsp; Product
                </a>
                <div class="dropdown-menu vnabdd" aria-labelledby="navbarDropdown" id="vnabdd_p">
                  <a class="dropdown-item" href="/products/add">Add a Product</a>
                  <a class="dropdown-item" href="#">Modify Products</a>
                  <a class="dropdown-item" href="#">Remove Products</a>
                </div>
              </li>
            <% } %>
          <% } %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" style="color: greenyellow;" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <% if( login ) { %>
                    <i class="fa fa-user-circle" aria-hidden="true"></i>&nbsp; Account
                  <% } else { %>
                    <i class="fa fa-user-circle" aria-hidden="true"></i>&nbsp; Guest User
                  <% } %>
            </a>
            <div class="dropdown-menu vnabdd" aria-labelledby="navbarDropdown" id="vnabdd">
                <% if( login ) { %>
                    <a class="dropdown-item" href="/users/profile">Profile</a>
                    <a class="dropdown-item" href="/logout">Logout</a>
                  <% } else { %>
                    <a class="dropdown-item" href="/register">Register</a>
                    <a class="dropdown-item" href="/login">Login</a>
                  <% } %>
            </div>
          </li>
        </ul>
      </div>
  </div>
  </nav>