<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">e-Basket</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="container">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" style="color: greenyellow;" href="/cart/details"><i class="fa fa-shopping-cart" aria-hidden="true"></i> &nbsp; Cart
                <% if( typeof session.cart != 'undefined' ) { %>
                  <span class="badge badge-light"><%= session.cart.totalQty %></span>
                <% } %>
              </a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" style="color: greenyellow;" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-user-circle" aria-hidden="true"></i>&nbsp; Account
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <% if( login ) { %>
                  <a class="dropdown-item" href="#">Profile</a>
                  <a class="dropdown-item" href="/logout">Logout</a>
                <% } else { %>
                  <a class="dropdown-item" href="/register">Register</a>
                  <a class="dropdown-item" href="/login">Login</a>
                <% } %>
              </div>
            </li>
          </ul>
        </div>
    </div>
  </nav>