<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/ico" href="/img/favicon.png" />
    <link rel="stylesheet" href="/css/vendor/bootstrap.min.css" >
    <link rel="stylesheet" href="/css/vendor/font-awesome.min.css">
    <link rel="stylesheet" href="/css/vendor/material-icons.css">
    <script src="/js/vendor/jquery-3.4.1.slim.min.js" ></script>
    <script src="/js/vendor/popper.min.js"></script>
    <script src="/js/vendor/bootstrap.min.js" ></script>
    <link rel="stylesheet" href="/css/global.css">
    <%- style %>
    <title>e-Basket</title>
</head>
<body>
    <%- include('../partials/navbar_2') %>
    <%- body %>
    <%- script %>
</body>
</html>