<div class="container col-md-4 col-sm-10">
    <h1 class="text-center">Login</h1>
    <form action="/auth/login" method="post">
        <div class="element"><label for="email">Email</label><input type="email" class="form-control" name="email" id="email"></div>
        <div class="element"><label for="password">Password:</label><input type="password" class="form-control" name="password" id="password"></div>
        <button type="submit" class="btn btn-primary btn-block" style="margin-top: 3vh;">Login</button>
    </form>
    <a href="/register">Don't have an account? | Register</a>
</div>