<link rel="stylesheet" href="/css/user/signup-prompt.css">

<div class="container col-lg-6 col-md-10 text-center" id="main">
    <%- include('../partials/messages.ejs') %>
    <h3 class="text-center" id="hero-txt">Register in e-Basket</h3>
    <p id="support">Please Choose a User Type</p>
    <a href="/register/seller" class="btn btn-success" id="seller">Register as a Seller</a>
    <a href="/register/buyer" class="btn btn-success" id="buyer" style="color: black;">Register as a Buyer</a><br>
    <a href="/login" id="redirect">Already have an account? | Login Here</a>
</div>