<link rel="stylesheet" href="/css/user/add-user.css">
<div class="container col-lg-6 col-md-10" id="main">
    <h1 class="text-center">e-Basket Terms and Conditions</h1><hr>
    <p>e-Basket has a policy with strict terms which a user needs to know before any e-basket activity is started (i.e., registration, purchasing, billing, etc.). e-basket maintains the following terms:</p>
    <ol>
        <li>e-basket will have a user-friendly usage environment.</li>
        <li>e-basket keeps the right to ban a user without seeking permission. However, a statement can be given upon request from the user.</li>
        <li>e-basket keeps the right to remove one or more without seeking permission. However, a statement can be given upon request from the user.</li>
        <li>e-Basket currently has the "Cash on Delivery" as the only payment method.</li>
        <li>e-Basket currently keeps the right to update or abolish charges on their own except government imposed texes (i.e., VAT, Levy, etc.).</li>
        <li>e-Basket will notify it's users upon chrages are modified.</li>
        <li>The user must agree to these conditions before registration.</li>
    </ol>
</div>