<link rel="stylesheet" href="/css/shop/checkout.css">
<% if( typeof cart != 'undefined' ) { %>
    <div class="container col-md-6 col-sm-12" id="main">
        <h4 class="text-center">Enter Billing Information</h4>
        <% if( typeof messages.info != 'undefined' ) { %>
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong><%= messages.info %></strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
        <% } %>
        <form action="/payments/checkout" method="post">
            <div class="row">
                <div class="col-md col-sm-12">
                    <label for="">First Name</label>
                    <input type="text" name="fname" class="form-control" placeholder="Enter First Name" required oninvalid="this.setCustomValidity('The User Must Have a First Name')" oninput="this.setCustomValidity('')">
                </div>
                <div class="col-md col-sm-12">
                    <label for="">Last Name</label>
                    <input type="text" name="lname" class="form-control" placeholder="Enter Last Name" required oninvalid="this.setCustomValidity('The User Must Have a Last Name')" oninput="this.setCustomValidity('')">
                </div>
            </div>
            <label for="">Email</label>
            <input type="email" name="email" class="form-control" placeholder="Enter Email" required oninvalid="this.setCustomValidity('The User Must Have an Email')" oninput="this.setCustomValidity('')">
            <label for="">Phone</label>
            <input type="text" name="phone" class="form-control" placeholder="Enter Phone Number" required oninvalid="this.setCustomValidity('The User Must Have a Phone Number')" oninput="this.setCustomValidity('')">
            <label for="">Address</label>
            <input type="text" name="address" class="form-control" placeholder="Enter Address (Bangladesh Only)" required oninvalid="this.setCustomValidity('The User Must Belong to an Address')" oninput="this.setCustomValidity('')">
            <div class="row">
                <div class="col-md col-sm-12">
                    <label for="">City</label>
                    <input type="text" name="city" class="form-control" placeholder="Enter City (Bangladesh Only)" required oninvalid="this.setCustomValidity('The User Must Belong to a City')" oninput="this.setCustomValidity('')">
                </div>
                <div class="col-md col-sm-12">
                    <label for="">Post Code</label>
                    <input type="number" name="post_code" class="form-control" placeholder="Enter Post Code" required oninvalid="this.setCustomValidity('The User Must Have a Post Code')" oninput="this.setCustomValidity('')">
                </div>
            </div>
            <hr>
            <h5 class="text-center">We currently support Cash-on-Delivery only</h5>
            <p class="text-center">Select a Delivery Provider</p>
            <div class="provider text-center">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="delivery" id="delivery-1" value="Shundarban Courier Service" required oninvalid="this.setCustomValidity('The User Must Select a Delivery Provider')" oninput="this.setCustomValidity('')">
                    <label class="form-check-label" for="delivery-1">Shundarban Courier Service</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="delivery" id="delivery-2" value="S.A. Paribahan">
                    <label class="form-check-label" for="delivery-2">S.A. Paribahan</label>
                  </div>
            </div>
            <button type="submit" class="btn btn-success btn-lg" id="switch">Proceed to Pay &nbsp;<i class="fa fa-paper-plane" aria-hidden="true"></i></button>
            <div class="mobile-space"></div>
        </form>
    </div>
<% } else { %>
    <div class="container text-center">
        <h1 style="margin-top: 30vh;"><i class="fa fa-frown-o" style="font-size: 80px; color: indigo;" aria-hidden="true"></i></h1>
        <h3 style="color: indigo; font-weight: bolder;">Nothing to Checkout! Please add products to cart.</h3>
      </div>
<% } %>